# ==========================================
# Environments & Secrets
# ==========================================
.env
*.env
.env.local
config.js

# ==========================================
# Java / Maven
# ==========================================
**/target/
*.class
*.bluej
*.pkg
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ==========================================
# Node / Frontend
# ==========================================
**/node_modules/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================================
# IDEs & System files
# ==========================================
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
.DS_Store
Thumbs.db
